doctype
html(lang="en")
    head
        script.
            var host = "vigneshm.com/HackDNews";
            if ((host == window.location.host) && (window.location.protocol != "https:"))
                window.location.protocol = "https";

        title HackDNews
        meta(charset='utf-8')

        link(rel='stylesheet', href='css/main.css')
    body
        div.content

        script(src="js/bundle.js")
